.element__like {
    margin: 0;
    padding: 0;
    border: none;
    width: 22px;
    height: 19px;
    margin-left: 10px;
    cursor: pointer;
    opacity: 1;
    background-color: white;
    background-image: url(../../../image/heart.svg);
}
.element__like:hover {
    opacity: 0.6;
}

