.popup__image-container {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 75vw;
    max-height: 75vh;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .popup__image-container {
        max-width: 240px;
        min-height: 299px;
    }
}