.profile__avatar {
    display: block;
    position: relative;
    width: 120px;
    height: 120px;
    background: #C4C4C4;
    background-size: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

 .profile__avatar:hover {
    transition: opacity .5s linear;
    opacity: 0.2;
    cursor: pointer;
 }

.profile__avatar:after {
    background-image: url(../../../image/Edit_Button.svg);
    width: 26px;
    height: 26px;
    left: 50%;
    top: 50%;
    background-size: contain;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.profile__avatar:hover:after {
   opacity: 1;
}


