.element__remove {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    width: 18px;
    height: 19px;
    right: 20px;
    top: 20px;
    outline: none;
    background-color: transparent;
    background-image: url(../../../image/Trash.svg);
    cursor: pointer;
    opacity: 1;
}

.element__remove:hover {
    opacity: 0.6;
}

.element__remove_hidden {
    display: none;
}

.element__remove_vis {
    display: flex;
}