.popup__save-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    cursor: url(../../../image/cursor.svg), auto;
    -webkit-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    transition: opacity .5s linear;
}

.popup__save-button:hover {
    opacity: .8;
}